<% if @product_categories.errors.any? %>
<ul>
    <% @product_categories.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
    <% end %>
</ul>
<% end %>
<br>

<%= form_with model: @product_categories, local: true do |f| %>
<%= f.label :name, 'Nome' %>
<%= f.text_field :name %>
<%= f.label :code, 'Código' %>
<%= f.text_field :code %>
<%= f.submit 'Criar categoria'  %>

<% end %>