<% if user_signed_in? %>
<hr>
<strong>
    <center>
        <h2 style ="color:CadetBlue;"> Categoria de produto  </h2>
</strong>
        <br>
        <%= link_to 'Registrar uma categoria', new_product_category_path %>
        <br>
        <br>
        <%= form_tag(product_categories_path, method: :get) do %>
            <%= text_field_tag 'search', nil, placeholder: 'Buscar categoria' %>
            <%= submit_tag 'Pesquisar' %>
        <% end %>
    </center>
<hr>

<% @product_categories.each do |product_category| %>
    <h3> <%= link_to product_category.name, product_category %> </h3>
    <h3> <%= product_category.code %> </h3>
<% end %> 

<% if @product_categories.empty? %>
<p>Nenhuma categoria cadastrada </p>
<% end %>

<%= link_to 'Voltar', root_path %>

<% else %>
<%= link_to 'Login', new_user_session_path %>
<% end %>

