<% if user_signed_in? %>
  <hr><strong><p style ="color:CadetBlue;"> Categoria de produto </p></strong>
  <hr>
  <h1> <%= @product_categories.name %> </h1>
  <p> <%= @product_categories.code %> </p>
  <p> <strong> <%= @product_categories.permission %> </p></strong>
  <hr>
  <%= link_to product_categories_path do %>
    <i class="fa fa-angle-double-left"></i> Voltar | 
  <% end %>
  <%= link_to 'Editar', edit_product_category_path(@product_categories), class: "btn btn-primary" %>
  <%= link_to 'Deletar', @promotion, method: :delete, data: {confirm: 'Confirmar ação?'}, class: "btn btn-danger"%>

<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>