<% if user_signed_in? %>
  <hr>
  <strong>
    <h2 style ="color:CadetBlue;"> <%= @promotion.name %> </h2>
  </strong>
  <hr>

  <i><strong><h3> <%= @promotion.description %> </h3></strong></i>

  <dl>
    <dt> Desconto em porcentagem </dt>
    <dd> <%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %> </dd>
    <dt> Código </dt>
    <dd> <%= @promotion.code %> </dd>
    <dt> Data de término </dt>
    <dd> <%= @promotion.expiration_date.strftime('%d/%m/%Y') %> </dd>
    <dt> Número de cupons </dt>
    <dd> <%= @promotion.coupon_quantity %> </dd>
  </dl>
  <hr>
  
  <p>Categorias válidas <p>
  <% @promotion.product_categories.each do |product_category| %>
    <p><%= product_category.name %></p>
  <% end %>
  
  <% if @promotion.coupons.empty? %>
    <%= link_to 'Voltar', promotions_path %> |
    <%= link_to 'Editar', edit_promotion_path(@promotion) %> |
    <%= link_to 'Deletar', @promotion, method: :delete, data: {confirm: 'Confirmar ação?'}%> 
    <br>
    <br>
    <strong><%= link_to 'Emitir Cupons', generate_coupons_promotion_path, method: :post %></strong>
  <% else %>
    <h3 style ="color:CadetBlue;"> Cupons </h3>
    <%= render @promotion.coupons %>

      <%= form_tag(promotions_path, method: :get) do %>
        <%= text_field_tag 'search', nil, placeholder: 'Nome, Código ou Status' %>
        <%= submit_tag 'Pesquisar' %>
      <% end %>

    <% end %>
  



<% else %>
<%= link_to 'Login', new_user_session_path %>
<% end %>

