<!DOCTYPE html>
<html>
  <head>
    <title>PromotionSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <% if user_signed_in? %>
    <p> <%= current_user.email %> </p>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <%= link_to 'Promoções', promotions_path %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>´
  <p><%= flash[:success] %> </p>
  <%= yield %>
  </body>
</html>
