<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>PromotionSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header" role="banner">
  <div class="container">
    <span class="control-menu visible-xs ico-menu-2"></span>
    <span class="control-sidebar visible-xs ico-list"></span>
    <a class="project-name" href='/'>Página Inicial</a>
  </div>
</header>

<class="notice"><%= notice %>
<class="alert"><%= flash[:alert] %>
<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>

<%= yield %>

  <% if user_signed_in? %>
    <center><strong><%= link_to 'Promoções', promotions_path %></strong> |
    <strong><%= link_to 'Categorias de produtos', product_categories_path %></strong>
    <hr>
    Logado como: <strong><%= current_user.email %></strong> <br>
    <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </center>
  <% end %>

  <footer>
  <footer class="footer">
  <hr>
    <div class="container footer-info">
    <center style="color:CadetBlue;"> QUERO SER DEV - GIRLS <%= Time.now.year %></center>
    </div>
  </footer>

  <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
